:root {  
   
 
  --amplify-primary-color: #e54646; /* change primary buttons */
  --amplify-secondary-color: #6b7280;
  --amplify-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --amplify-background-color: #f9fafb;

}

